main {
    padding-top: 1.3rem;
}
.modal {
    top: 30vh;
    right: 33vw; 
    min-width: 19.6rem;
    min-height: 15.3rem; 
    display: inline-block;
    opacity: 0;
    transform: translatey(-3rem);
    transition: opacity 200ms ease-out, transform 500ms ease-out;
}
.modal h1 {
    text-align: center;
}
.modal {
    position: fixed;
  background: blanchedalmond;
  z-index: 200;
  left: 38%;
  border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.packages-section {
    background:  rgb(211, 211, 44);
    width: 70%;
    height: 14rem;
    padding-left: 1.5rem;
   border: 2px solid rgb(83, 33, 33);
   margin-top: 1rem;
   border-left: none;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plus-plan {
    position: relative;
    height: 13.5rem;
    overflow: hidden;
}

.packages-h1 {
    padding-top: 0.5rem;
    color: rgb(83, 33, 33);
    font-weight: bold;
    
}
.packages-h2 {
    color: rgba(165, 78, 78, 0.8);
}
.packages-section a {
    text-decoration: none;
}
.packages-p {
    background: rgb(250, 250, 147);
    border: 1px solid rgb(83, 33, 33);
    border-radius: 4px;
    width: 90%;
    margin-left: 0.3rem;
    padding: 0.5rem;
    color: rgb(83, 33, 33);
}
.section2 {
    float: right;
    border-left: 2px solid  rgb(83, 33, 33);
    margin-bottom: 1rem;
    height: 12rem;
}
.section3 {
    clear: both;
}
.packages-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
    background:red;
    transform: rotateZ(45deg) translateX(3rem) translateY(-1rem);
    transform-origin: center;
    font-size: 1rem;
    width: 13rem;
    text-align: center;

}
.packages-section .packages-badge {
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.packages-section:hover,
.packages-section:active {
    border: 2px solid white;
}
@media(max-width: 57rem) {
    .modal {
        box-sizing: content-box;
        opacity: 0;
        transform: translatey(-3rem);
        transition: opacity 200ms ease-out, transform 500ms ease-out;
        width: 8rem;
        height: 150px;
        top: 30vh;
        left: 20vw; 
        min-width: 19rem;
       min-height: 11rem; 
       position: fixed;
    }
    .modal h1 {
        font-size: 1.3rem;
    }
    .packages-section {
        background:  rgb(211, 211, 44);
        width: 100%;
        height: 100%;
        padding-left: 1.5rem;
       border: 2px solid rgb(83, 33, 33);
       margin-top: 1rem;
       border-left: none;
       box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    .section2 {
        float: right;
        border-left: 2px solid  rgb(83, 33, 33);
        height: 12rem;
    }
    .plus-plan {
        margin-top: 2rem;
  }
}
@media(max-width:28rem) {
    .section2 {
        height: 14rem;
    }
    .modal {
        box-sizing: content-box;
        opacity: 0;
        transform: translatey(-3rem);
        transition: opacity 200ms ease-out, transform 500ms ease-out;
        width: 8rem;
        height: 150px;
        top: 30vh;
        left: 7vw; 
        min-width: 19rem;
    min-height: 7.3rem; 
    }
    .modal h1 {
        font-size: 1rem;
    }
}